.contato{
    display: flex;
    flex-direction: column;
    background-image: url(../IMG/contato.webp);
}


.area-contato{
    width: 40%;
    height: 40%;
    background-color: rgba(222, 184, 135, 0.849);
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

fieldset{
    border: 10px;
}

legend{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 235, 205, 0.938);
}

